:root {
  --2xl: 1536px;
  --xl: 1280px;
  --lg: 1024px;
  --md: 768px;
  --sm: 640px;
  --xs: 480px;
}

html {
  --color-page: #fff;
  --color-bg: #fff;
  --color-inverse: #0b090d;
  --color-text: #0b090d;
  --color-border: #d7d7e5;
  --color-muted: #827799;
  --color-primary: #5f21cc;
  --color-success: #2abb7f;
  --color-danger: #e3355e;
}

html.dark {
  --color-page: #0b090d;
  --color-bg: #0b090d;
  --color-inverse: #fff;
  --color-text: #fff;
  --color-border: #2a2533;
  --color-muted: #827799;
  --color-primary: #7f35ff;
  --color-success: #4bce97;
  --color-danger: #ef4870;
}
